/.ninja_deps
/.ninja_log

/vert.spv
/frag.spv

/f2c.o
/f2c.exe
/frag.spv.h
/vert.spv.h
/font.pbm.h

/swizzles.o
/swizzles.exe
/swizzles.h

/debugtests.o
/debugtests.exe

/glfw
/vulkan

/txtquad.o
/libtxtquad.so

/txtquad_win.o
/txtquad.lib

/demo.o
/demo

/demo_win.o
/demo.exe

/font.o
/font

/font_win.o
/font.exe
